name: Build Run.exe

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.14'
        cache: 'pip'
    
    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install pyinstaller pillow
    
    - name: Build with PyInstaller
      run: pyinstaller --onefile --icon=logo.png --noconsole run.py
    
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: run.exe
        path: dist/run.exe
